@{
    ViewData["Title"] = "About author";
}

<div class="container">

    <img src="~/img/me1.png" style="height:400px" />
    <p class="text">
        Лісова Марія
    </p>
    <p class="text">
        ФКНК КНУ
    </p>
</div>