@{
    ViewData["Title"] = "Карта";
}

<!DOCTYPE html>
<html lang='en'>

<head>

    <meta charset='utf-8' />
    <title>Route finder</title>
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <!-- Import Mapbox GL JS -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
    <!-- Import Turf and Polyline -->
    <!--<script src="https://npmcdn.com/turf/turf/turf.min.js"></script>-->
    <script src=https://cdnjs.cloudflare.com/ajax/libs/mapbox-polyline/1.1.1/polyline.js></script>
    <!-- Import Mapbox GL Directions -->
    <script src=https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js></script>
    <link rel="stylesheet" href=https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css type="text/css" />


    <style>


        #map {
            position: absolute;
            top: 75px;
            bottom: 60px;
            left: 3%;
            right: 3%;
        }

    </style>
</head>
<body>

    <div id="map"></div>
    
</body>
</html>

<script>
    mapboxgl.accessToken = "pk.eyJ1IjoiZXJyb3J5IiwiYSI6ImNrbzNhc2N5aTBxbGsyd3M1OW04anJqcWgifQ.vPPVJo4JceJLt64WE6Ki6w";

    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [30.30, 50.30],
        zoom: 8
    });

    var directions = new MapboxDirections({
        accessToken: mapboxgl.accessToken,
        unit: "metric",
        profile: "mapbox/driving",
        alternatives: true,
        geometries: "geojson",
        controls: { instructions: false },
        flyTo: false
    });

    map.addControl(directions, "top-left");
    map.addControl(new mapboxgl.NavigationControl());
    map.scrollZoom.enable();
</script>

